@import "_normalize";


$numberOfSections : 2;
$groupHeight : 100/$numberOfSections;
$fontSize : 1em;


@mixin centered {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	border: solid 1px red;
	text-align : center;
}

@mixin equalChildSpacing($n){
	&:p{
		margin-bottom: 100/$n 0 
	}
}


body {
	background-color : #001F1F;
	color : #FFF4E9;
	font-family : "Titillium Web";
	font-size : $fontSize;
}

.header {
	@include centered;
	padding : 0;
	margin-bottom : 2%;
	height : 18%;
}

.mainContent {
	@include centered;
	padding : 0;
	height : 80%
}

.mainGroup {
	#defBalance {
		@include equalChildSpacing(3);
	}

	#notes {
		@include equalChildSpacing(6);
	}

	margin : 0;
	padding : 0;
	height : $groupHeight * 1%;
}