@import "_normalize";


$numberOfSections : 2.5;
$groupHeight : 100/$numberOfSections;
$fontSize : 1.3em;
$textColor : #FFF4E9;

@font-face {
  font-family: 'simple';
  src: url('fonts/simple.woff') format('woff'), /* Modern Browsers */
       url('fonts/simple.ttf')  format('truetype'), /* Safari, Android, iOS */
}


@mixin centered {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align : center;
}

body {
	background-color : black;
	color : $textColor;
	font-family : "simple";
	font-size : $fontSize;
}

.header {
	@include centered;
	padding : 0;
	margin-bottom : 1%;
	height : 15%;
}

.mainContent {
	@include centered;
	padding : 0;
	height : 100%;
	background-color : #001224;
}

.mainGroup {
	margin : 0;
	padding : 0;
	height : $groupHeight * 1%;
	width : 100%
}